<div class="flex h-screen bg-gray-900">
  <!-- Sidebar -->
  <div class="w-16 bg-slate-950 text-gray-300 flex flex-col items-center py-4">
    <!-- Logo -->
    <div class="w-12 h-12 bg-gray-700 rounded-xl flex items-center justify-center mb-8 transition-transform hover:rotate-12">
      <img src="logo/logo.png" alt="Logo" class="w-8 p-1">
    </div>
    <nav class="flex-1 flex flex-col items-center gap-6 text-lg">
      <a class="relative bg-gray-700 rounded-xl w-10 h-10 flex items-center justify-center hover:bg-gray-600 hover:shadow-md transition-all"
         routerLink="/navbar/" routerLinkActive="Active" [routerLinkActiveOptions]="{ exact: true }">
        <i class="bi bi-house-door"></i>
        <span class="absolute left-12 bg-gray-600 text-xs rounded px-2 py-1 opacity-0 hover:opacity-100 transition-opacity">Home</span>
      </a>
      <a class="relative bg-gray-700 rounded-xl w-10 h-10 flex items-center justify-center hover:bg-gray-600 hover:shadow-md transition-all"
         routerLink="/navbar/placeorder" routerLinkActive="Active">
        <i class="bi bi-cart"></i>
        <span class="absolute left-12 bg-gray-600 text-xs rounded px-2 py-1 opacity-0 hover:opacity-100 transition-opacity">Order</span>
      </a>
      <a class="relative bg-gray-700 rounded-xl w-10 h-10 flex items-center justify-center hover:bg-gray-600 hover:shadow-md transition-all"
         routerLink="/navbar/orders" routerLinkActive="Active">
        <i class="bi bi-list-task"></i>
        <span class="absolute left-12 bg-gray-600 text-xs rounded px-2 py-1 opacity-0 hover:opacity-100 transition-opacity">Orders</span>
      </a>
      <a class="relative bg-gray-700 rounded-xl w-10 h-10 flex items-center justify-center hover:bg-gray-600 hover:shadow-md transition-all"
         routerLink="/navbar/customer" routerLinkActive="Active">
        <i class="bi bi-person"></i>
        <span class="absolute left-12 bg-gray-600 text-xs rounded px-2 py-1 opacity-0 hover:opacity-100 transition-opacity">Customers</span>
      </a>
      <a class="relative bg-gray-700 rounded-xl w-10 h-10 flex items-center justify-center hover:bg-gray-600 hover:shadow-md transition-all"
         routerLink="/navbar/food-item-manage" routerLinkActive="Active">
         <i class="fa-solid fa-burger"></i>
                 <span class="absolute left-12 bg-gray-600 text-xs rounded px-2 py-1 opacity-0 hover:opacity-100 transition-opacity">Menu</span>
      </a>
    </nav>
    <!-- Footer -->
    <div class="mt-auto text-lg">
      <a class="relative bg-gray-700 rounded-xl w-10 h-10 flex items-center justify-center hover:bg-gray-600 hover:shadow-md transition-all"
         routerLink="/navbar/sign-in">
        <i class="bi bi-box-arrow-right"></i>
        <span class="absolute left-12 bg-gray-600 text-xs rounded px-2 py-1 opacity-0 hover:opacity-100 transition-opacity">Logout</span>
      </a>
    </div>
  </div>
  <div class="flex-1 p-0 m-0 overflow-y-auto bg-slate-950"
  style="background: url('dashboard/orderchart.jpg'); background-size: cover; background-position: center; background-repeat: no-repeat;">
  <div class="bg-black/50 w-full h-full relative z-10 backdrop-filter backdrop-blur-sm rounded-2xl">
    <router-outlet></router-outlet>
  </div>
  </div>
</div>